<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<head>
	  <title>Customer Spring | <%= yield(:title) %></title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Customer Spring helps companies selling big ticket products and services increase sales revenue.">
	  <meta name="keywords" content="Customer Spring, CustomerSpring">
	</head>
    <body>
<!-- Jumbotron -->
		<div class="hero">
		  <div class="container">
		    <div class="jumbotron">
		      <h1>Increase Sales, Margins, Repeat Business & Referrals</h1>
		      <h2>While reducing customer acquisition costs</h2><br>
		      <div class="flex-video widescreen span10 offset1">
		        <div>
		          <iframe src="//fast.wistia.net/embed/iframe/ppiazqbzly" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="853" height="480"></iframe>
		        </div>  
		      </div>

		      <span class="cta"><h2>Apply to become a Customer Spring Client*</h2></span>
		      <a class="btn btn-lg btn-warning typeform-share" href="https://customerspring.typeform.com/to/EZjGNX" data-mode="1" target="_blank">
		        <span class="visible-xs">Get Started Here*</span>
		        <span class="hidden-xs">Get Started Here*</span></a>
		      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
		       </script><br><br><br>
		       <span class="center">*Prospective clients must meet key standards and criteria to be eligible for Customer Spring services.</span>

		    </div>
		  </div>
		</div>

		  <!-- process -->

<!-- 		<div class="container">
		  <div class="row center featurette"> -->
		<!--     <h2 class="hiw-heading">How it Works</h2> -->
		<!--     <div class="col-lg-4">
		        <%= image_tag "badges.001.png", alt: "image 1", class: "img-circle" %><br>
		        <h2><small>1: Analyse & break down customer needs & concerns at each phase of the sales process</small></h2>
		    </div>
		    <div class="col-lg-4">
		        <%= image_tag "badges.002.png", alt: "image 1", class: "img-circle" %><br>
		        <h2><small>2: Build an automated smart customer acquisition loop that nurtures & moves customers along the loop</small></h2>
		    </div>
		    <div class="col-lg-4">
		        <%= image_tag "badges.003.png", alt: "image 1", class: "img-circle" %><br>
		        <h2><small>3: Increase sales, margins, repeat business and referrals while reducing costs.</small></h2>
		    </div>
		  </div>
		</div> -->


		<!-- START THE BENEFIT FEATURETTES -->

		<div class="featurette-blue">    
		  <div class="container">
		    <div class="row featurette">
		      <div class="hidden-md hidden-lg">
		        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
		      </div>
		      <div class="col-md-7">
		        <h2 class="featurette-heading">A surge in your conversion rate, <span class="text-muted">with no opportunity left behind</span></h2>
		        <p class="lead">How many opportunities are you missing? Only a fraction of your market is ready to buy right now. However on average 25% of any given market are legitmate highly qualified buyers that should progress to a sale. By properly mapping out your markets conversion points you can develop and nurture these leads until they are ready to buy. Surging your sales and leaving no opportunity behind.</p>
		      </div>
		      <div class="visible-md visible-lg col-md-5">
		        <%= image_tag "001.png", alt: "image 1", class: "featurette-image img-responsive" %>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="container">
		  <div class="row featurette">
		    <div class="col-md-5">
		      <%= image_tag "002.png", alt: "image 2", class: "featurette-image img-responsive" %>
		    </div>
		    <div class="col-md-7">
		      <h2 class="featurette-heading">Increase your margins,  <span class="text-muted">while reducing costs</span></h2>
		        <p class="lead">How much net profit are you leaving on the table? By mapping out and optimising your sales funnel leads that are properly developed and nurtured will make up to 47% larger purchases than those that are not. This is because the buying criteria of leads that are properly developed and nurtured will focus on how much value larger orders, extras, options and upsells provide rather than the more common price sensitive predisposition of un-developed leads.</p>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="featurette-blue">  
		  <div class="container">
		    <div class="row featurette">
		      <div class="col-md-7">
		        <div class="hidden-md hidden-lg">
		        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
		        </div>
		        <h2 class="featurette-heading">Boost repeat business & referrals, <span class="text-muted">exponentially!</span></h2>
		        <p class="lead">You have a 5-10 times better chance of winning a sale with an existing customer or referral than you are winning business with a new lead.  By mapping out your customers conversion points you can engage and convert customers in a way that naturally compels them to repeat business and refer you to others. When this is mapped out and seemlessly built in with your product or service you create a viral loop which grows your customer base exponentially.</p>
		      </div>
		      <div class="visible-md visible-lg col-md-5">
		        <%= image_tag "003.png", alt: "image 3", class: "featurette-image img-responsive" %>
		      </div>
		    </div>
		    <hr class="featurette-divider">
		  </div>
		</div>
		<!-- /END THE FEATURETTES -->

		<!-- Bottom cta -->
		<div class="container center">
		  <br>
		  <h2 class="hiw-heading"><small>Empower High Value Customer Acquisition in your Organisation</small></h2><br>
		  <a class="btn btn-lg btn-warning typeform-share" href="https://customerspring.typeform.com/to/EZjGNX" data-mode="1" target="_blank">
		    <span class="visible-xs">Get Started Here*</span>
		      <span class="hidden-xs">Get Started Here*</span></a>
		    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
		    </script><br><br><br>
		       <span class="center">*Prospective clients must meet key standards and criteria to be eligible for Customer Spring services.</span>
		  <br>
		  <br>
		  <hr class="featurette-divider">
		</div>
	</body>
</html> 

